/* #region Commons */
:root{
    --light-green:#adff2e;
    --button:#daa521;
    --bg-main:#141922;
    --bg-footer:#282828;
    --bg-profile:#808080;
    --bg-plus:#a3a3a3;
    --bg-icon:#d2d2d2;
    --color-text:#717171;
    --bg-upgrade:#0e1119;
    --bg-header:#727772;
    --bg-playlist:#232523;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--color-text);
    font-family:"Roboto", sans-serif ;
}
body{
    background-color: #0e1119;
}

.container{
    height: calc(100vh - 10%);
    display: flex;
}

section{
    margin: 30px 15px;
}

/* #endregion Commons */

/* #Utilities */
.text{
    font-size: 1.2rem;
    font-weight: 600;
}

.c-white{
    color: white;
}

.icon-plus{
    background-color: var(--bg-icon);
    color: black;
    padding: 8px;
    margin: 5px 5px 5px 10px;
    font-size: 1.4rem;
}

ul{
    list-style: none;
}

.title{
    color: white;
    margin: 10px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.item{
    padding-left: 10px;
}
.image{
    width: 15%;
    vertical-align: middle;
}

.animation{
    transition: all  0.3s linear;
}

.services{
    padding: 1rem;
}

.row{
    display: flex;
}

/* #endregion Utilities */

/* #region sidebar */
.sidebar{
    background-color: black;
    width: 15%;
    height: calc(100vh - 100px);
    position: relative;
}
.start{
    height: 70%;
}

.sidebar .logo-large{
    width: 70%;
    padding-top: 20px;
    padding-left: 20px;
}

.sidebar .logo-small{
    display: none;
    width: 80%;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    top: 0;
    left: 0;
}
.menu{
  margin: 20px 0 30px 0;  
}

.menu li{
    margin: 20px 0;
}

.menu li:first-child{
    border-left: 5px solid var(--light-green);
}
.playlist{
    height: 70%;
}

.playlist>.title{
    text-transform: uppercase;
}

.create{
    margin-bottom: 20px;
}
.playlists-created{
    max-height: 80%;
    overflow-y: auto;
}
.playlists-created li{
    padding-bottom: 35px;
}

.install{
    padding-bottom: 1rem;
    margin: 0 10px;
}
.install>i{
    padding: 4px;
    border-radius: 50%;
    border: 1px solid var(--bg-icon);
    color: var(--bg-icon);
    font-size: 12px;
    vertical-align: bottom;
}

.down{
    background-color: black;
    position:absolute;
    bottom:10px;
    left:0;
}

/* #endregion sidebar */

/* #region main */
#site-main{
    background-color: var(--bg-main);
    width: 85%;
}
header{
    height: 350px;
    background-color: var(--bg-header);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upgrade-button{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.button{
    border-radius: 25px;
    background-color: var(--bg-upgrade);
    border: 1px solid white;
    color: white;
    font-size: 0.9rem;
    margin:0.5rem;
    padding: 0.2rem 1rem;
}
.upper{
    text-transform: uppercase;
    padding: 0.3rem 2rem;
}
.button>.image{
    width: 1rem;
    border-radius: 50%;
    background-color: var(--bg-profile);
}

.arrow{
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    background-color: var(--bg-upgrade);
    font-size: 1.2rem;
    margin:0.5rem;
    border: 1px solid var(--bg-upgrade);
}
.daily-mix{
    display: flex;
    align-items: flex-end;
}
.daily-mix>img{
    width: 25%;
    max-width: 300px;
    padding: 20px;
}

.title-playlist{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.title-playlist>.title{
    text-transform: uppercase;
    margin: 0;
    font-size: 1.3rem;
}
.title-playlist>.name{
    font-size: 2.7rem;
}
.title-playlist>.sub{
    font-weight: bold;
}
.pb{
    padding-bottom: 25px;
}

.body{
    height: calc(100vh - 450px);
    overflow-y: scroll;
}

.navbar{
    display: flex;
    margin: 30px 0;
}
.play-green{
    border-radius: 50%;
    background-color: var(--light-green);
    padding: 8px 10px 8px 15px;
    font-size: 1.5rem;
    text-align: center;
}
.play-green>i{
    color: black;
}

.caption{
    margin: 10px;
    font-size: 1.2rem;
}
.listen>.row{
    justify-content: space-between;
    margin-top: 20px;
}
.col-25{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.primary{
    width: 43%;
    align-items: flex-start;
}
.col-25>.title{
    color: var(--color-text);
    text-transform: uppercase;
}
.primary>.title{
    transform: translateX(150%);
}
.primary .image{
    width: 20%;
}
.rn{
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
}

.finaly{
    width: 7%;

}
/* #endregion main */

/* #region footer */
#site-footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#site-footer .row{
    height: 100%;
    align-items: center;
    column-gap: 1.5rem; 
}

.col-left,
.col-right{
    width: 25%;
}

.col-left .image{
    width: 15%;
}
.col-left>.row{
    padding-left: 2rem;
}
.col-center{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.2rem;
}
.col-center>.row{
    width: 100%;
    justify-content: center;
}
.col-center>.up .item{
    width: 50px;
    text-align: center;
}

.caption-play{
    display: inline-block;
}
.bar-time{
    width: 70%;
}
.bar{
    height: 6px;
    background-color: var(--color-text);
    border-radius: 25px;
    position: relative;
}
.col-center .bar{
    width: 100%;
}

.time{
    width: 40%;
    height: 6px;
    background-color: white;
    border-radius: 25px;
}
.col-right .bar{
    width: 80%;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: none;
}

.circle{
    position: absolute;
    top: -8px;
    left: 38%;
}
/* #endregion footer */

/* #region Hover */
.hw:hover{
    color: white;
}
.upgrade-button>.button:hover{
    font-size: 1.2rem;
}

.hg:hover{
    color: var(--light-green);
}
.song:hover{
    text-decoration: underline;
}

.play:hover{
    font-size: 2.5rem;
}

.bar:hover .time {
    background-color: var(--light-green)
}
.bar:hover .circle{
    display: block;
}
/* #endregion Hover */

/* #region Active */

.upgrade-button>.button:active{
    border: 1px solid var(--button);
    color: var(--button);
}
.ar:active{
    color: red;
}
/* #endregion Active */

/* #region media */
@media screen and (max-width:1024px) {
    .text{
        font-size: 0.9rem;
        font-weight: 600;
    }
    .sidebar{
        width: 20%;
    }
    .daily-mix>img{
        width: 35%;
        padding: 20px;
    }
    #site-footer .row{
        align-items: center;
        column-gap: 0.5rem; 
    }
}

@media screen and (max-width:768px) {
    header{
        height: 300px;
    }
    .body{
        height: calc(100vh - 400px);
    }
    .finaly{
        display: none;
    }
    .pimary{
        width: 40%;
    }
    #site-footer .row{
        column-gap: 0.3rem; 
    }
    .text{
        font-size: 0.8rem;
        font-weight: 600;
    }
    #site-footer i{
        font-size: 1rem;
    }
}

@media screen and (max-width:566px) {
    header{
        height: 250px;
        flex-direction: column;
        justify-content: space-around;
    }
    .arrow{
        font-size: 0.7rem;
    }
    .left,
    .right{
        display: flex;
        flex-direction: column;
    }
    .right{
        align-items: flex-end;
    }
    .daily-mix>img{
        padding: 10px;
    }
    .title-playlist>.title{
        font-size: 1rem;
    }
    .title-playlist>.name{
        font-size: 1.5rem;
    }
    .pb{
        padding-bottom: 10px;
    }
    .body{
        height: calc(100vh - 350px);
    }
    .date{
        display: none;
    }
    .col-25{
        width: 35%;
    }
    .primary{
        width: 65%;
    }
    
    .text{
        font-size: 0.7rem;
    }
    #site-footer i{
        font-size: 1rem;
    }
    .sidebar{
        width: 30%;
    }
    .col-left{
        width: 30%; 
    }
    .col-center,
    .col-right{
        width: 35%;
    }
    .col-center>.up .item{
        width: 30px;
        text-align: center;
    }
    .col-left>.row{
        padding-left: 0.5rem;
    }
}

@media screen and (max-width:425px) {
    .sidebar{
        width: 15%;
    }
    .daily-mix>img{
        width: 40%;
    }
    .title-playlist>.title{
        font-size: 0.8rem;
    }
    .title-playlist>.name{
        font-size: 1.2rem;
    }
    .navbar .text,
    .upgrade-button .text,
    #site-footer .text{
        font-size: 0.6rem;
        font-weight: 300;
    }
    .col-left .image{
        width: 20%;
    }
    #site-footer .row{
        column-gap: 0.2rem; 
    }
    .col-center>.up .item{
        width: 20px;
    }
    .playlist{
        display: none;
    }
    .sidebar .logo-small{
        display: block;
    }
    .sidebar .logo-large{
        display: none;
    }
    .sidebar .text{
        display: none;
    }
    .menu .image{
        width: 60%;
    }
   
}
@media screen and (max-width:320px) {
    .daily-mix>img{
        width: 55%;
    }
    .primary{
        width: 100%;
    }
    .album{
        display: none;
    }
    .text{
        font-size: 0.9rem;
    }
    .title-playlist>.sub{
        font-weight: 400;
        font-size: 0.7rem;
    }
    .col-left i{
        display: none;
    }
    .col-right .item:first-child{
        display: none;
    }
    .col-right .bar-time{
        display: none;
    }
    .col-center{
        width: 50%; 
    }
    .col-right{
        width: 20%;
    }
    .col-left .image{
        width: 30%;
    }
    .col-left>.row{
        padding-left: 0;
    }
    .item{
        padding-left: 0;
    }
}
/* #endregion media */








