/* #region Commons */
:root{
    --light-green:#adff2e;
    --button:#daa521;
    --bg-main:#141922;
    --bg-footer:#282828;
    --bg-profile:#808080;
    --bg-plus:#a3a3a3;
    --bg-icon:#d2d2d2;
    --color-text:#717171;
    --bg-upgrade:#0e1119;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--color-text);
    font-family:"Roboto", sans-serif ;
}
body{
    background-color: #0e1119;
}

.container{
    height: calc(100vh - 10%);
    display: flex;
}

section{
    margin: 30px 15px;
}

/* #endregion Commons */

/* #Utilities */
.text{
    font-size: 1.2rem;
    font-weight: 600;
}

.c-white{
    color: white;
}

.icon-plus{
    background-color: var(--bg-icon);
    color: black;
    padding: 8px;
    margin: 5px 5px 5px 10px;
    font-size: 1.4rem;
}

ul{
    list-style: none;
}

.title{
    color: white;
    margin: 10px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.item{
    padding-left: 10px;
}
.image{
    width: 15%;
    vertical-align: middle;
}

.button{
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.3rem 2rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.animation{
    transition: all  0.3s linear;
}

.services{
    padding: 1rem;
}

.row{
    display: flex;
}

.card{
    width:calc(100% / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.cover{
    position: relative;
}
.cover>img{
    object-fit: cover;
    max-width: 100%;
}
/* #endregion Utilities */

/* #region sidebar */
.sidebar{
    background-color: black;
    width: 15%;
    height: calc(100vh - 130px);
    position: relative;
}
.start{
    height: 70%;
}

.sidebar .logo{
    width: 70%;
    padding-top: 20px;
    padding-left: 20px;
}

.menu{
  margin: 20px 0 30px 0;  
}

.menu li{
    margin: 20px 0;
}

.menu li:first-child{
    border-left: 5px solid var(--light-green);
}
.playlist{
    height: 70%;
}

.playlist>.title{
    text-transform: uppercase;
}

.create{
    margin-bottom: 20px;
}
.playlists-created{
    max-height: 80%;
    overflow-y: auto;
}
.playlists-created li{
    padding-bottom: 35px;
}

.install{
    border-bottom: 2px solid var(--bg-icon);
    padding-bottom: 1rem;
    margin: 0 10px;
}
.install>i{
    padding: 4px;
    border-radius: 50%;
    border: 1px solid var(--bg-icon);
    color: var(--bg-icon);
    font-size: 12px;
    vertical-align: bottom;
}
.account>.image{
    border-radius: 50%;
    background-color: var(--bg-profile);
    margin: 10px;
}
.account>.text{
    color: white;
}
.down{
    background-color: black;
    position:absolute;
    bottom:10px;
    left:0;
}

/* #endregion sidebar */

/* #region main */
#site-main{
    background-color: var(--bg-main);
    width: 85%;
}

.upgrade-button{
    background-color: var(--bg-upgrade);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.body{
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.under {
    position: relative;
    padding-bottom: 5px;
}
.under:before{
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    bottom: 0;
    left: 30%;
    border-bottom: 3px solid var(--light-green);
}

.recently>.row{
    flex-wrap: nowrap;
}
.author>img{
    border-radius: 50%;
}

.subtitle{
    font-weight: bold;
}

.caption{
    margin: 10px;
}

.cover>.invisible{
    display: none;
}

.invisible>i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.5rem;
}
.invisible{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.author>.invisible{
    border-radius: 50%;
}
/* #endregion main */

/* #region footer */
#site-footer{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#site-footer .row{
    align-items: center;
    column-gap: 1.5rem; 
}

.col-left,
.col-right{
    width: 25%;
}

.col-left .image{
    width: 15%;
}
.col-left>.row{
    padding-left: 2rem;
}
.col-center{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
}
.col-center>.row{
    width: 100%;
    justify-content: center;
}
.col-center>.up .item{
    width: 50px;
    text-align: center;
}

.caption-play{
    display: inline-block;
}
.bar-time{
    width: 70%;
}
.bar{
    height: 6px;
    background-color: var(--color-text);
    border-radius: 25px;
    position: relative;
}
.col-center .bar{
    width: 100%;
}

.time{
    width: 40%;
    height: 6px;
    background-color: white;
    border-radius: 25px;
}
.col-right .bar{
    width: 80%;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: none;
}

.circle{
    position: absolute;
    top: -8px;
    left: 38%;
}



/* #endregion footer */

/* #region Hover */
.hw:hover{
    color: white;
}
.upgrade-button>.button:hover{
    font-size: 1.2rem;
}

.hg:hover{
    color: var(--light-green);
}
.song:hover{
    text-decoration: underline;
}

.play:hover{
    font-size: 2.5rem;
}

.bar:hover .time {
    background-color: var(--light-green)
}
.bar:hover .circle{
    display: block;
}

.card:hover .invisible{
    display: block;
}
/* #endregion Hover */

/* #region Active */

.upgrade-button>.button:active{
    border: 1px solid var(--button);
    color: var(--button);
}
.ar:active{
    color: red;
}
/* #endregion Active */

/* #region media */
@media screen and (max-width:1024px) {
    .card{
        width:calc(100% / 4);
    }
    .recently>.row{
        flex-wrap: wrap;
    }
    .sidebar{
        width: 20%;
    }
    #site-footer .row{
        align-items: center;
        column-gap: 0.5rem; 
    }

}

@media screen and (max-width:768px) {
    .card{
        width:calc(100% / 3);
    }
    .recently>.row{
        flex-wrap: wrap;
    }
    .sidebar{
        width: 20%;
    }
    #site-footer .row{
        align-items: center;
        column-gap: 0.3rem; 
    }
    .text{
        font-size: 0.9rem;
        font-weight: 400;
    }
    *{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:566px) {
    .card{
        width:calc(100% / 2);
    }
    .recently>.row{
        flex-wrap: wrap;
    }
    .sidebar{
        width: 30%;
    }
    #site-footer .row{
        align-items: center;
        column-gap: 0.3rem; 
    }

    .text{
        font-size: 0.9rem;
        font-weight: 300;
    }
    *{
        font-size: 0.8rem;
    }
    .col-center>.up .item{
        width: 30px;
        text-align: center;
    }
    .navbar{
        flex-wrap: wrap;
    }
    .col-left>.row{
        padding-left: 0.5rem;
    }
}
/* #endregion media */








